<div *ngIf="selectedRecipe">
  <div class="row">
    <div class="col h1">
      {{ selectedRecipe.name }}
    </div>
    <div class="col">
      <div class="row float-end">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Actions
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Add Ingredients</button>
              <button ngbDropdownItem>Go to shopping list</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ selectedRecipe.description }}
    </div>
  </div>
  <div class="row" *ngIf="selectedRecipe">
    <div class="col">
      <img [src]="selectedRecipe.image" alt="" class="img-responsive" style="width: 100%; height: 100%;"/>
    </div>
  </div>
  <div class="row">
    <div class="h3">Ingredients</div>
    <div class="col">
      <div *ngFor="let ingredient of selectedRecipe.ingredients">
        {{ingredient['name']}} - {{ingredient['amount']}}({{ingredient['unit']}})
      </div>
    </div>
  </div>
</div>

