<div class="row">
  <div class="col-md-6">
    <form>
      <div class="col-md-12">
        <label for="" class="form-label">Ingredient</label>
        <input type="text" class="form-control" />
      </div>
      <div class="row">
        <div class="col-md-8">
          <label for="" class="form-label">Amount</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Unit</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </form>
    <div class="row py-2">
      <div class="col">
        <button class="btn btn-success" (click)="onAddIngredient()">Add</button>
      </div>
      <div class="col">
        <button class="btn btn-danger">Delete</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">Reset</button>
      </div>
    </div>
  </div>
</div>
