<div class="row">
  <div class="col-md-5">
    <form [formGroup]="ingredient">
      <div class="col-md-12">
        <label for="" class="form-label">Ingredient</label>
        <input type="text" class="form-control" />
      </div>
      <div class="row">
        <div class="col-md-9">
          <label for="" class="form-label">Amount</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
          <label for="" class="form-label">Unit</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </form>
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-3">
          <button class="btn btn-success text-center">Add</button>
        </div>
        <div class="col-3">
          <button class="btn btn-danger text-center">Delete</button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary tex">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
