/* You can add global styles to this file, and also import other style files */
:root{
    --bs-tertiary-bg-rgb: 200, 281, 231;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.btn-success {
  --bs-btn-bg: #06adb2;
}
.btn-primary {
  --bs-btn-bg: #1354aa;
}
.btn-danger {
  --bs-btn-bg: #e12960;
}

.btn-success.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: darkcyan;
  border-color: var(--bs-btn-hover-border-color);
}
.btn-primary.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: rgb(4, 39, 76);
  border-color: var(--bs-btn-hover-border-color);
}

.bg-body-tertiary {
    --bs-tertiary-bg-rgb: 200, 281, 231;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.btn{
    width: 100%;
}
.card{
    margin-bottom: 1rem;
}
.col-3{
    min-width: 30%;
}
